<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="store" frontName="store">
            <module name="IdeaInYou_StoreLocator" />
        </route>
        <route id="ideaInYou_storeLocator" frontName="ideaInYou_storeLocator">
            <module name="IdeaInYou_StoreLocator" />
        </route>
    </router>
</config>
