<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="IdeaInYou_StoreLocator::general" title="IdeaInYou" translate="title" module="IdeaInYou_StoreLocator" sortOrder="80" dependsOnModule="Magento_Catalog" resource="IdeaInYou_StoreLocator::content"/>
        <add id="IdeaInYou_StoreLocator::StoreLocator" title="StoreLocator" translate="title" module="IdeaInYou_StoreLocator" sortOrder="0" parent="IdeaInYou_StoreLocator::general" action="ideainyou/storeLocator" resource="IdeaInYou_StoreLocator::content"/>
<!--        <add id="Magento_Cms::cms_block" title="Blocks" translate="title" module="Magento_Cms" sortOrder="30" parent="Magento_Backend::content_elements" action="cms/block" resource="Magento_Cms::block"/>-->
    </menu>
</config>
