<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <storeLocator>
            <general>
                <enable>0</enable>
                <google_api>Please put your Google API key</google_api>
            </general>
        </storeLocator>
    </default>
</config>
